<div class="user-feedbacks-left"></div>
<div class="user-feedbacks-right">
  {{#if canGiveFeedback}}
    <div class="ratings-input">
      <strong>{{i18n "discourse_user_feedbacks.user_feedbacks.add_rating"}}</strong>
      {{rating-input value=rating readOnly=readOnly}}
    </div>
    <div class="review-input">
      {{#if siteSettings.user_feedbacks_allow_reviews}}
        {{textarea
          rows="5"
          placeholder=placeholder
          value=review
          disabled=readOnly
          class="review-textarea"
        }}
      {{/if}}

      <!-- Campo para seleccionar comprador o vendedor -->
      <div>
        <label for="buyer_or_seller">¿Eres comprador o vendedor?</label>
        <select id="buyer_or_seller" name="buyer_or_seller" required>
          <option value="buyer">Comprador</option>
          <option value="seller">Vendedor</option>
        </select>
      </div>

      {{d-button
        label="discourse_user_feedbacks.user_feedbacks.add_user_feedback"
        action=(action "createFeedback")
        disabled=disabled
        type="submit"
        class="btn-primary create-feedback"
      }}
    </div>
    <hr>
  {{/if}}
  
  {{#if model.feedbacks.length}}
    {{#each model.feedbacks as |feedback index|}}
      {{feedback-list-item feedback=feedback}}
      {{#if currentUser.is_admin}}
        <button onclick="deleteFeedback({{feedback.id}})">Eliminar</button>
      {{/if}}
    {{/each}}
  {{else}}
    <div class="empty-state">
      <span class="empty-state-title">{{i18n "discourse_user_feedbacks.user_feedbacks.empty_state_title"}}</span>
      <div class="empty-state-body">
        <p>{{i18n "discourse_user_feedbacks.user_feedbacks.empty_state_body"}}</p>
      </div>
    </div>
  {{/if}}
</div>
