<div class="feedback-list-item">
  <div class="user-rating">
    <div class="user-data">
      <a href={{feedback.user.path}} data-user-card={{feedback.user.username}}>
        {{avatar feedback.user imageSize="large"}}
      </a>
      <div class="rating-data">
        <span class="username">{{feedback.user.username}}</span>
        {{rating-input value=feedback.rating readOnly=true}}
      </div>
    </div>
    {{format-date feedback.created_at format="medium"}}
  </div>
  <p>
    {{html-safe feedback.review}}
  </p>
  <hr>
</div>
