<div class="rating">
  <span class="icon {{if checkedOne "checked"}} {{if percentageOne "partial"}} {{if readOnly "read-only"}}" {{action "changeRating" 1}}>
    ☆
    <span class="partial-fill" style="width:{{percentageOne}}%;">★</span>
  </span>
  <span class="icon {{if checkedTwo "checked"}} {{if percentageTwo "partial"}} {{if readOnly "read-only"}}" {{action "changeRating" 2}}>
    ☆
    <span class="partial-fill" style="width:{{percentageTwo}}%;">★</span>
  </span>
  <span class="icon {{if checkedThree "checked"}} {{if percentageThree "partial"}} {{if readOnly "read-only"}}" {{action "changeRating" 3}}>
    ☆
    <span class="partial-fill" style="width:{{percentageThree}}%;">★</span>
  </span>
  <span class="icon {{if checkedFour "checked"}} {{if percentageFour "partial"}} {{if readOnly "read-only"}}" {{action "changeRating" 4}}>
    ☆
    <span class="partial-fill" style="width:{{percentageFour}}%;">★</span>
  </span>
  <span class="icon {{if checkedFive "checked"}} {{if percentageFive "partial"}} {{if readOnly "read-only"}}" {{action "changeRating" 5}}>
    ☆
    <span class="partial-fill" style="width:{{percentageFive}}%;">★</span>
  </span>
</div>
